
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutPost.cshtml";
}

@*<style>
    .model {
        width: 50vw;
        height: 50vw;
    }

    .modal-content {
        width: 30%;
        padding: 30px;
    }

    .email .form-control {
        border-radius: 30px !important;
    }
    .form-group.d-flex {
        border-radius: 30px !important;
    }

</style>*@
@using (Html.BeginForm("ForgotPassword", "user", new { id = Session["userid"] }, FormMethod.Post))

{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="id01" class="modal" style="margin-top: 12px; display: block;">
        <div class="modal-content animate">
            <div class="container" id="modal-container">
                <div class="form-group">
                    <label class="control-label email col-md-12">Your Email Addres </label>
                    @Html.TextBox("Email", "", new { @class = "form-control col-md-12" })
                </div>
                <div class="text-success">
                    @ViewBag.Message
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Send email" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

