@model IEnumerable<BTL_LT_UD_WEB.Models.comment>
@{
    ViewBag.Title = "PostComment";
    Layout = "~/Areas/Poster/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<section class="content" id="update">
    <div class="card">
        <!-- /.card-header -->
        <div class="card-body table-responsive">
            <h2>Comment trong bài viết</h2>
            <div class="row">

                <div class="col-lg-11 col-md-11 col-11">
                    <form action="" id="form-search">
                    </form>
                </div>
            </div>
            <table class="table">
                <tr>

                    <th>
                        Người comment
                    </th>
                    <th>
                        Nội dung
                    </th>
                    <th>
                        Ngày đăng
                    </th>

                    <th>Hành động</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @item.user.username

                        </td>
                        <td>
                            @item.content
                        </td>
                        <td>
                            @item.datecomment
                        </td>


                        <td>


                            <button class="btn btn-danger" onclick="confirmDelete()">
                                <i class="fas fa-trash"></i> Xóa
                            </button>
                            <script>
                                function confirmDelete() {
			                            Swal.fire({
				                            title: 'Bạn có muốn xóa comment này?',
				                            text: "Tất cả các dữ liệu liên quan sẽ bị xóa!",
				                            icon: 'warning',
				                            showCancelButton: true,
				                            confirmButtonText: 'Có',
				                            cancelButtonText: "Không"
			                            }).then((result) => {
				                            if (result.isConfirmed) {
                                                location.href = "/Poster/Poster/DeleteComment/@item.comment_id";
				                            }
			                            });
		                            }
                            </script>
                        </td>
                    </tr>
                }

            </table>
            <a href="@Url.Action("Details",new { id = TempData["post_id"] } )">Trở về bài viết </a>
            <hr>
        </div>

    </div>

</section>

