@{
    ViewBag.Title = "Home Page";
}

<body class="register-page">
    <div class="register-box" style="margin: 13% auto;
        border: 1px solid rgba(0,0,0,.125);
        padding: 30px;
        border-radius: 5px">
        <div class="register-logo">
            <h2>Bạn đăng nhập với tư cách</h2>
        </div>
        <div class="card">
            <div class="card-body register-card-body">
                <div class="social-auth-links text-center">
                    <a href="/admins/Login" class="btn btn-block btn-primary">
                        Admin Dashboard
                    </a>
                    <a href="/users/Login" class="btn btn-block btn-danger">
                        User Dashboard
                    </a>
                </div>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
</body>

