@model IEnumerable<BTL_LT_UD_WEB.Models.category>
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fas fa-home"></i>Trang chủ</a>
    </li>
    @foreach (var item in Model)
    {
        <li class="nav-item">
            @Html.ActionLink(item.category_name, "PostByCategory", "posts", new { id_catagory = item.category_id }, htmlAttributes: new { @class = "nav-link" })

        </li>
    }
    @*<li class="nav-item">
            <a class="nav-link" href="#">Giới thiệu</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Chính trị</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Dân sự</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Giao thông</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Thể thao</a>
        </li>*@

    <li class="nav-item">
        <a class="nav-link" href="lienhe.html">Liên hệ</a>
    </li>
</ul>
